$mainColor: black;
$mainBg:  black;
$textColor: silver;
footer{
    margin-top: 30px;
    user-select: none;
    width: 100%;
    background-color: $mainColor;
    color: $textColor;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    .footer-head{
        display: flex;
        justify-content: center;
        p{
            max-width: 300px;
            font-size: 12px;
            color: $textColor;
            padding-inline: 2px;
        }
    }
    .footer-body{
        display: flex;
        align-items: center;
        justify-content: center;
        ul{
            max-width: 320px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            list-style: none;
            padding: 0 5px;
            li .links .icon{
                width: 30px;
                transition: 0.3s;
                font-size: 20px;
                color: $textColor;
                margin-right: 10px;
            }
            li .links .icon:hover{
                color: teal;
            }
        }
    }
    .copyrights{
        color: $textColor;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        p{
            font-size: 10px;
        }
        span{
            font-size: 10px;
        }
    }
}