$mainColor: royalblue;
$textColor: white;


.news-section{
    position: relative;
    width: 80%;
    margin: auto;
    h1{
        color: black;
        width: 100%;
        text-align: center;
        letter-spacing: 1px;
        font-size: 35px;
        margin-bottom: 45px;
    }
    .news{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .sectionOfSearch{
        position: fixed;
        top: 77px;
        right: 0px;
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 100;
        @media (max-width: 768px) {
            top: 120px;
        }
         .search{
            padding: 5px 15px;
            border: 1px solid black;
            background-color: black;
            border-radius: 8px;
            outline: none;
            text-align: center;
            transition: 0.1s;
            font-size: 14px;
            z-index: 1000;
            color: white;
            border: 1px solid white;
            opacity: 0.7;
         }
         .search:focus{
            border: 1px solid white;
            opacity: 1;
         }
    }
}
